# SPDX-FileCopyrightText: 2023 Sergio Durigan Junior
# SPDX-FileCopyrightText: 2025, 2026 Suguru Hirahara
#
# SPDX-License-Identifier: AGPL-3.0-or-later

---
- name: Check existence of Roundcube systemd service
  ansible.builtin.stat:
    path: "{{ devture_systemd_docker_base_systemd_path }}/{{ roundcube_identifier }}.service"
  register: roundcube_service_stat

- name: Uninstall Roundcube systemd services and files
  when: roundcube_service_stat.stat.exists | bool
  block:
    - name: Ensure Roundcube systemd service is stopped
      ansible.builtin.service:
        name: "{{ roundcube_identifier }}"
        state: stopped
        enabled: false
        daemon_reload: true

    - name: Ensure Roundcube systemd service does not exist
      ansible.builtin.file:
        path: "{{ devture_systemd_docker_base_systemd_path }}/{{ roundcube_identifier }}.service"
        state: absent

    - name: Ensure Roundcube support files do not exist
      ansible.builtin.file:
        path: "{{ roundcube_base_path }}/{{ item }}"
        state: absent
      with_items:
        - env
        - labels

    - name: Ensure Roundcube local config path does not exist
      ansible.builtin.file:
        path: "{{ roundcube_config_path }}"
        state: absent

    - name: Ensure Roundcube local HTML assets path does not exist
      ansible.builtin.file:
        path: "{{ roundcube_html_path }}"
        state: absent

    - name: Ensure Roundcube local tmp path does not exist
      ansible.builtin.file:
        path: "{{ roundcube_tmp_path }}"
        state: absent

    - name: Ensure Roundcube local SQLite database path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ roundcube_sqlite_db_path }}"
      register: roundcube_sqlite_db_path_deletion_result
      changed_when: roundcube_sqlite_db_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure Roundcube base path does not exist if empty
      ansible.builtin.command:
        cmd: "rmdir {{ roundcube_base_path }}"
      register: roundcube_base_path_deletion_result
      changed_when: roundcube_base_path_deletion_result.rc == 0
      failed_when: false

    - name: Ensure Roundcube container network does not exist
      when: roundcube_container_network_deletion_enabled
      block:
        - name: Ensure Roundcube container network does not exist via community.docker.docker_network
          when: devture_systemd_docker_base_container_network_creation_method == 'ansible-module'
          community.docker.docker_network:
            name: "{{ roundcube_container_network }}"
            state: absent
          register: roundcube_network_deletion_result

        - name: Ensure Roundcube container network does not exist via ansible.builtin.command
          when: devture_systemd_docker_base_container_network_creation_method == 'command'
          ansible.builtin.command:
            cmd: >-
              {{ devture_systemd_docker_base_host_command_docker }} network rm
              {{ roundcube_container_network }}
          register: roundcube_network_deletion_result
          changed_when: roundcube_container_network in roundcube_network_deletion_result.stdout

- name: Check existence of Roundcube local SQLite database path
  ansible.builtin.stat:
    path: "{{ roundcube_sqlite_db_path }}"
  register: roundcube_sqlite_db_path_stat

# We just want to notify the user. Deleting data is too destructive.
- name: Notify if Roundcube SQLite database remains
  when: roundcube_sqlite_db_path_stat.stat.exists | bool
  ansible.builtin.set_fact:
    devture_playbook_runtime_messages_list: |
      {{
        devture_playbook_runtime_messages_list | default([])
        +
        [
          "Note: As the local Roundcube instance has been removed, some old SQLite database remains in `" + roundcube_sqlite_db_path + "`. Feel free to delete it."
        ]
      }}
